<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="NetProject2WallMountainStar.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Styles/FirstStyle.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    </head>
<body>
    <form id="form1" runat="server">
<header>MasterPageHeader<asp:DropDownList ID="DropDownListShoppingCart" runat="server">
	<asp:ListItem>Cart</asp:ListItem>
	</asp:DropDownList>
		</header>
    <div>
    </div>
   
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    <footer>FOOOTER</footer>
    </form>
</body>
</html>
