<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebShopData.Properties.Settings.WebShopConnectionString"
            connectionString="Data Source=.\sqlExpress;Initial Catalog=WebShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>