html {
    font-family: monospace;
    background-image: url('../Images/lg-tv.jpg');
    -ms-background-size: 100%;
    background-size: 100%;        
}

body {
    padding: 43px;
    height: 100px;
}
form {
    height: 100px;
}
#checkoutform {
    width: 350px;
    margin: 0 auto;
    color: white;
}
#FormInfoAndValidationSummary {
      /*border-bottom: 1px dotted white;*/
}
#tempDiv {
    display: inline-block;
   border-bottom: 1px dotted white;
}
#ValidationSummary {
     /*border-bottom: 1px dotted white;*/
	/*color: red;*/
}

.auto-styleCheckOut {
    /*background-color: orange;
    display: inline-block;
    /*margin: auto auto;
	border-radius: 15px;
		border-bottom: 15px solid brown;
	border-right: 10px solid coral;*/
}

#labelEmptyCart {
    color: red;
}
.wrapper {
	height: 520px;
	margin: 5px auto 13px auto;
	width: 930px;


}
#contentplaceholder {
    overflow-y: scroll;
}
#signout {
    float: right;
    padding-right: 40px;
}
#headerWrapper {
    padding-left: 40px;  
}
#LoginForm {
	max-width: 300px;
	margin: 300px auto;
	border-radius: 15px;
	border-bottom: 15px solid brown;
	border-right: 10px solid coral;
	color: white;
}

header {
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
    line-height: 40px;
	/*background-color: coral;*/
	position: relative;
    color: white;

}

footer {
	width: 100%;
	height: 0px;
	position: relative;
	bottom: 0;
	left: 0;
	/*background-color: coral;*/
}
#receiptWrapper {
    width: 100%;
    margin: auto 0;
    display: inline-block;
    border-bottom: 1px dotted white;
}
.buttonsubmit {
    border: solid 1px green;
    margin: 5px;
    float: right;
}
.buttoncancel {
    border: solid 1px darkred;
    margin: 5px;}
#totalpricetable {
    float: right;
    padding-right: 31px;
}