body {
	/*margin: 105px;
	height: 407px;
	width: 100%;*/
}

#wrapper {
	background-color: green;
	height: 527px;
	margin: 100px auto 100px auto;
	border: 5px solid royalblue;
	overflow: scroll;
	width: 930px;
}

#LoginForm {
	max-width: 300px;
	margin: 300px auto;
	border-radius: 15px;
	border-bottom: 15px solid brown;
	border-right: 10px solid coral;
}

header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: coral;
}

footer {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: coral;
}
